body {
	background-image: url(/Math-Background-for-PPT.jpg);
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	font-family: "Handlee", cursive;
}

.col-xs-12 {
	column-gap: 15px;
}

.btn {
	border-color: black;
	padding: 12px;
	font-weight: bold;
	font-size: larger;
}

.btn:hover {
	color: white;
	background-color: rgb(107, 106, 106);
}

.flex-column {
	flex-direction: column;
}

.txt-lg {
	font-size: 40px;
	font-weight: bold;
}

.txt-md {
	font-size: 25px;
}

.txt-xl {
	font-size: 60px;
}

.row {
	margin-bottom: 20px;
}

.num {
	width: 60px;
	font-size: 40px;
}

.answer {
	width: 60px;
	height: 60px;
	margin-left: 20px;
}
.quiz-container {
	display: flex;
	align-items: center;
}

#max {
	width: auto;
	height: 40px;
	margin-left: 20px;
	font-size: 25px;
	padding: 4px 6px;
}

input {
	border-radius: 8px;
	border: solid grey 1px;
}

.countdown {
	margin-top: 20px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: white;
}

#name-btn {
	margin-left: 10px;
}

.inline {
	display: inline;
}
.mtop {
	margin-top: 20px;
}
